* {
  font-family: "Red Hat Mono", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: white;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
}

#results > div {
  padding: 5px;
}

#winner-announcement {
  color: rgba(150, 0, 0, 0.808);
  font-weight: 600;
}

button:active {
  transform: scale(0.9);
}

button:disabled {
  transform: none;
}

.disabled-choices {
  transition: none;
}

#refresh-button {
  text-align: center;
  border: 4px solid rgb(182, 217, 228);
}

h1 {
  border: 3px double rgb(230, 218, 154);
  padding: 5px;
  border-radius: 5px;
}
